
.Cruises{
    background-image: url(../pictures/key.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height:1800px;
}
.CruisesHead{
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 300px;
}
.CruisesHead li{
    font-size: 35px;
    color:white;
    font-family: monospace;
    font-weight: 600;
    padding-top: 50px;
}
.CruisesMain{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 350px;
    column-gap: 100px;
}

.CruisesMain h1{
    color:white;
    font-size: 150px;
}
.CruisesMain p{
    color:white;
    font-size: 50px;
}
.CruisesOneButton{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
}
.CruisesOneButton button{
    background-color: orange;
    border-radius: 20px;
    color:white;
    font-size: 35px;
    font-family: monospace;
    border: none;
    height:70px;
    width:300px;
}
.CruisesMainAbout{
    display: table;
    margin: 0 auto;
    margin-top: 100px;
}
.CruisesMainAbout h1{
    font-size: 45px;
    
}
.AboutCruises{
    margin-top: 100px;
}
.AboutIm{
    text-align: center;
}
.CruisesMainAbout p{
    font-size: 30px;
}
.CruisesFooter{
  display: flex;
  justify-content: center;
  align-items: center;

}
.CruisesFooterIsStarting{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url(../pictures/wp.jpg);
    background-repeat: no-repeat;
    background-size: 100%; */
    background-color: orange;
    height:900px;
    width:100%;
    max-width:4000px;
    column-gap: 160px;
}
.CruisesFooterDivs{
    max-height: 370px;
}
.CruisesFooterDivs img{
    height:200px;
    width: 200px;
    margin-left: 50px;
}
.CruisesFooterDivs p{
    text-align: center;
    margin-right: 0px;
    color:white;
    font-size: 35px;
}
.CruisesFooterDivs h1{
    text-align: center;
    color:white;
}
.gallery {
    --z: 32px;  /* control the zig-zag  */
    --s: 360px; /* control the size */
    --g: 8px;   /* control the gap */
    
    display: grid;
    gap: var(--g);
    width: calc(2*var(--s) + var(--g));
    grid-auto-flow: column;
  }
  .CruisesVs{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .gallery > img {
    width: 0;
    min-width: calc(100% + var(--z)/2);
    height: var(--s);
    object-fit: cover;
    -webkit-mask: var(--mask);
            mask: var(--mask);
    cursor: pointer;
    transition: .5s;
  }
  .gallery > img:hover {
    width: calc(var(--s)/2);
  }
  .gallery > img:first-child {
    place-self: start;
    clip-path: polygon(calc(2*var(--z)) 0,100% 0,100% 100%,0 100%);
    --mask: 
      conic-gradient(from -135deg at right,#0000,#000 1deg 89deg,#0000 90deg) 
        50%/100% calc(2*var(--z)) repeat-y;
  }
  .gallery > img:last-child {
    place-self: end;
    clip-path: polygon(0 0,100% 0,calc(100% - 2*var(--z)) 100%,0 100%);
    --mask: 
      conic-gradient(from   45deg at left ,#0000,#000 1deg 89deg,#0000 90deg) 
        50% calc(50% - var(--z))/100% calc(2*var(--z)) repeat-y;
  }
  
  
  .Archemen {
    text-align: center;
    font-family: system-ui, sans-serif;
    font-size: 3rem;
    word-spacing: .8em;
  }
  .Archemen span:first-child {
    color: #af3817;
  }
  .Archemen span:last-child {
    color: #0b3fa1;
  }
  .CruisesAboutVs{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 100px;
  }
  .CruisesAboutVs img{
    height:400px;
    width:600px;
  }
  .CruisesAboutVsDiv{
    display: table;
  }
  .Turkey{display:flex;justify-content: center;
  align-items: center;}
  .CruisesAboutVsDiv p{margin: 0;}
  .CruisesAboutVsDiv h1{margin: 0;}
.Ilkay{
  transform: rotate(0.5turn);
}
.NewDivFromCruises{
  display: flex;
  justify-content: center;
  align-items: center;}
  .Texteringer{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
  }
  .Texteringer h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: 700;
  }
  .TurkeyText{
    color:#af3817;
  }
  .EgyptText{
    color:#0b3fa1;
  }
  .FooterEndInMyLife{
    background-image: url(../pictures/seperator-bg-1.jpg);
    background-repeat: no-repeat;
    background-size: 180%;
    height:1000px;
    width:100%;
  }
  .FooterEndInMyLife h1{
    text-align: center;
    padding-top: 50px;
    color:White;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
  }
  .buttonsFooter{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .buttonsFooterDivs{
    margin-left: 250px;
  }
  .buttonsFooter button{
    background-color: #4CAF50; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    cursor: pointer; /* Pointer/hand icon */
    width: 50%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
    border-radius: 10px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .Korea{
    background-image: url(https://ok-dubai.com/images/image-excursion//BurjKhalifa-2.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    height:1000px;
    width: 30%;
  }
  .ImVeryTired{margin-top: 50px;}
  .World{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Italy{
    background-image: url(https://tripplanet.ru/wp-content/uploads/asia/japan/tokyo/dostoprimechatelnosti-tokio.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height:850px;
    width: 30%;
  }
  .Australia{display: flex;
  justify-content: center;
  align-items: center;}
  .France{margin-left: 30px;margin-bottom: 200px;}
  .Ender{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 100px;
  }
  .Germany{
    background-image: url(https://e0.pxfuel.com/wallpapers/762/103/desktop-wallpaper-historic-city-of-toledo-spain-ultra-background-for-u-tv-widescreen-ultrawide-laptop-tablet-smartphone.jpg );
    background-repeat: no-repeat;
    background-size: 100%;
    height:900px;
    width:15%;
    transition-property: all;
    transition: .9s
  }
  .Portugal{
    background-image: url(https://images.wallpapershq.com/wallpapers/5890/thumbnail_350x622.jpg );
    background-size: 100%;
    height:900px;
    width:15%;
    transition-property: all;
    transition: .9s
  }
  .Spain{
    background-image: url(https://s1.1zoom.ru/b5153/84/Germany_Houses_Rivers_Stralsund_From_above_515610_1080x1920.jpg );
    background-size: 100%;
    height:900px;
    width:15%;
    transition-property: all;
    transition: .9s
  }
  .IwannaSleep{
 
    display: table;
    margin: 0 auto;
    background-image: url(https://сезоны-года.рф/sites/default/files/images/shkolnikam/gora.jpg);
    background-size: 100%;
    height:1200px;
    width:60%;
     margin-top: 150px
  }
  .Karask{
text-align: center;
color:rgb(255, 255, 255);
margin-top: 500px;
display: none;
height:400px;
  }
  .Germany:hover{
    filter: brightness(40%);
    border-radius: 20px;
    -webkit-transform: scale(1.1);
    -ms-ransform: scale(1.1);
    transform: scale(1.1);
  }
  .Spain:hover{
    filter: brightness(40%);
    border-radius: 20px;
    -webkit-transform: scale(1.1);
    -ms-ransform: scale(1.1);
    transform: scale(1.1);
  }
  .Portugal:hover{
    filter: brightness(40%);
    border-radius: 20px;
    -webkit-transform: scale(1.1);
    -ms-ransform: scale(1.1);
    transform: scale(1.1);
  }
  
  
  .Germany:hover .Karask{
    display: block;
  }
    
  
  .Spain:hover .Karask{
    display: block;
  }
  
    
  
  .Portugal:hover .Karask{
    display: block;
  }
  
  
