a{
  text-decoration: none;
}
.ThingsHead{
  display: flex;
  justify-content: center;
  align-items: center;
  height:150px;
  /* position: fixed;
top:22%;
left: 0%;
width:100%;
background-color: white;; */
}
.ThingsHeadNav{
  display: flex;
  column-gap: 800px;
}
.Lishki{
  display: flex;
  column-gap: 50px;
}
.Likerki{
  font-size: 30px;
  margin-top: 30px;
  color: rgb(49, 49, 49);
}
.ThingsDiv1{
  text-align: center;
  height:60em;
  background-image: url(../pictures/bg-head.jpg);
  background-repeat: no-repeat;
  background-size: 130%;
  background-position: top center;
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
}
.ThingsDiv1 h1{
  color:White;font-size: 120px;
  text-transform: uppercase;
}
.ThingsDiv1 p{
  color:white;
  font-size: 50px;
}
.ThingsDiv1 button{
  color:white;
  border: none;
  background-color: rgb(88, 88, 159);
  width:700px;
  height:100px;
  border-radius: 20px;
  font-size: 45px;
}
.ThingsTex{
  margin-top: 300px;
}
.ThingsDiv2{
  margin-top: 100PX;
}
.ThingsDiv2End{
  display: flex;
  justify-content: center;
  margin-top: 100px;
  align-items: center;
  column-gap: 200px;
}
.ThingsDiv2End img{
  height:800px;
  width:1200px;
}
.ThingsDiv2Start{
  display: flex;
  justify-content: center;
  align-items: center;
}
.ThingsDiv2Start h1{
  text-align: center;
  font-size: 45px;
}
.ErdersDiv{
  background-color: rgb(187, 243, 46);
  border-radius: 20px;
  }
.ErdersDiv h1{
  font-size: 30px;
}
.ErdersText{
  margin-left: 29px;
}
.ThingsDiv3{
  
  display: table;
margin: 0 auto;
margin-top: 200px;
}
.ThingsForH1{
  display: flex;
  justify-content: center;
  align-items: center;
}
.ThingsDiv3Btn{
  margin-bottom: 42px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 0 30px;
}
.ThingsDiv3Btn a{
  text-decoration: none;
}
.tab{
  margin-top: 30px;
    font-size: 37px;
    font-weight: 600;
    line-height: 24px;
    color: #212864;
    background: #eeeeee;
    padding: 32px 75px;
     text-decoration:none;
    border-radius: 25px;
    border: none;
}
.tab:hover{
  text-decoration: none;
  color:#212864;
  background-color: orange;
}
.block_with_text{
  display: none;
}
.offer__carousel{
  display: flex;
}
.item-offer__box{
  background-color: #eeeeee;
  border-radius: 20px;
}
.item-offer__btn {
  width: 100%;
  height: 90px;
  margin: 0 auto;
  line-height: 80px;
  font-size: 27px;
}
.popup{
  display: block;
  text-align: center;
  border-radius: 30px;
  color: #fff;
  background-color: #353d83;
  border: 1px solid #353d83;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.item-offer__descr{
  margin-left: 20px;
}
.blockerr{
  height:200px;
  width:200px;  
}
.ThingsDiv3Divs{
  display: flex;

}
.offer__carousel{
  column-gap: 150px;
}